

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

h1 {
  color:rgb(8, 79, 79); 
  font-family:'Courier New', Courier, monospace;
}

h2 {
  color:rgb(2, 3, 3); 
  font-family: 'Kaisei Opti', serif;
}

input {
  padding: 10px;
  border: 1px solid #2c2b2b;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 20rem;
  align-self: center;
  background-color: rgb(57, 182, 216);
  text-decoration-color: beige;
}

input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(146, 180, 216, 0.25);
}
